extends layout

block content

    h2 PAdES Signature with Server Key

    p File signed successfully!

    h3 Actions:
    ul
        li
            a(href=`/app-data/${outputFile}`) Download the signed file
