<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

    <h2>Authentication with certificate</h2>

    <form id="signInForm" method="POST">

        <!--/* Hidden fields used to pass data from the server-side to the javascript and vice-versa */-->
        <input type="hidden" id="digestAlgorithmField" name="digestAlgorithm" th:value="${digestAlgorithm}" />
        <input type="hidden" id="nonceField" name="nonce" th:value="${nonce}" />
        <input type="hidden" id="certContentField" name="certContent" th:value="${certContent}" />
        <input type="hidden" id="signatureField" name="signature" th:value="${signature}" />

        <!--/*

        Render a select (combo box) to list the user's certificates. For now it will be empty,
        we'll populate it later on (see javascript below).

        */-->
        <div class="form-group">
            <label for="certificateSelect">Choose a certificate</label>
            <select id="certificateSelect" class="form-control"></select>
        </div>

        <!--/*

        Action buttons. Notice that the "Sign In" button is NOT a submit button. When the user
        clicks the button, we must first use the Web PKI component to perform the client-side
        computation necessary and only when that computation is finished we'll submit the form
        programmatically (see js/authentication-form.js).

        */-->
        <button id="signInButton" type="button" class="btn btn-primary">Sign In</button>
        <button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>

    </form>

    <!--/*

    The file below contains the JS lib for accessing the Web PKI component. For more information, see:
    https://webpki.lacunasoftware.com/#/Documentation

     */-->
    <script src="/js/lacuna-web-pki-2.9.0.js"></script>

    <!--/*

    The file below contains the necessary calls to the Web component. Once the necessary computations
    have been done, the javascript code will submit our form.

    */-->
    <script src="/js/authentication-form.js"></script>

    <script>

        $(document).ready(function () {
            // Once the page is ready, we call the init() function on the javascript code
            // (see authentication-form.js)
            authenticationForm.init({
                form: $('#signInForm'),             // The form that should be submitted when the operation is complete
                certificateSelect: $('#certificateSelect'), // the select element (combo box) to list the certificates
                refreshButton: $('#refreshButton'),         // the "refresh" button
                signInButton: $('#signInButton'),               // the button that initiates the operation
                digestAlgorithmField: $('#digestAlgorithmField'), // the field "digestAlgorithm"
                nonceField: $('#nonceField'),               // the field "nonce"
                certContentField: $('#certContentField'),   // the field "certContent"
                signatureField: $('#signatureField')        // the field "signature"
            });
        });

    </script>
</div>

</body>
</html>