<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

    <div th:if="${errorMessage} == null">

        <h2>CAdES Signature with a server key</h2>

        <!--/* If no errors have occurred, this page is shown for the user, with the link to the signed file. */-->
        <p>File signed sucessfully!</p>
        <a th:href="'/files/' + ${outputFile}" class="btn btn-info">Download the signed file</a>
        <a th:href="'/cades-printer-friendly-version?fileId=' + ${outputFile}" class="btn btn-default">Download a printer-friendly version of the signed file</a>

    </div>

    <div th:if="${errorMessage} != null">

        <!--/*
            If some error has occurred, the error message is show with a "Try Again" button to return to the upload
            page.
         */-->
        <div class="alert alert-danger" role="alert" style="margin-top: 2%;">
            <label for="errorMsg">Signature Failed</label><br />
            <span id="errorMsg" th:text="${errorMessage}"></span>
        </div>
        <a class="btn btn-default" href="/upload?goto=cades-signature-server-key">Try Again</a>

    </div>

</div>
</body>
</html>