<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

    <!--
        This section will be only shown if some error has occurred in the last signature attempt.
        If the user start a new signature, this error message is cleared.
     -->
    <div th:if="${errorMessage} != null" class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 2%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <label for="errorMsg"><span th:text="${errorTitle}"></span></label><br />
        <span id="errorMsg" th:text="${errorMessage}"></span>
    </div>

    <h2>COD XML signature (COD element)</h2>

    <div th:unless="${state} =='completed'">

        <!--
            This form will be shown initially and when this page is rendered to perform the
            signature using Web PKI component.
        -->
        <form id="signForm" method="POST">

            <!--
                Hidden fields used to pass data from the server-side to the javascript
                (see signature-form.js) and vice-versa.
             -->
            <input type="hidden" id="stateField" name="state" th:value="${state}" />
            <input type="hidden" id="certThumbField" name="certThumb" th:value="${certThumb}" />
            <input type="hidden" id="certContentField" name="certContent" th:value="${certContent}" />
            <input type="hidden" id="toSignHashField" name="toSignHash" th:value="${toSignHash}" />
            <input type="hidden" id="transferFileField" name="transferFile" th:value="${transferFile}" />
            <input type="hidden" id="signatureField" name="signature" th:value="${signature}" />
            <input type="hidden" id="digestAlgorithmField" name="digestAlgorithm" th:value="${digestAlgorithm}" />

            <div class="form-group">
                <p>You are signing the <i>COD</i> element of <a href="/SampleCodEnvelope.xml">this sample COD XML envelope</a>.</p>
            </div>

            <!--
                Render a select (combo box) to list the user's certificates. For now it will be
                empty, we'll populate it later on (see signature-form.js).
            -->
            <div class="form-group">
                <label for="certificateSelect">Choose a certificate</label>
                <select id="certificateSelect" class="form-control"></select>
            </div>

            <!--
                Action buttons. Notice that the "Sign File" button is NOT a submit button. When the
                user clicks the button, we must first use the Web PKI component to perform the
                client-side computation necessary and only when that computation is finished we'll
                submit the form programmatically (see signature-form.js).
            -->
            <button id="signButton" type="button" class="btn btn-primary">Sign COD element</button>
            <button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>

        </form>

        <!--
            The file below contains the JS lib for accessing the Web PKI component. For more
            information, see: https://webpki.lacunasoftware.com/#/Documentation
         -->
        <script src="/js/lacuna-web-pki-2.11.0.js"></script>

        <!--
            The file below contains the necessary calls to the Web PKI component. Once the
            necessary computations have been done, the javascript code will submit our form.
        -->
        <script src="/js/signature-form.js"></script>

        <script>

            $(document).ready(function () {
                // Once the page is ready, we call the init() function on the javascript code
                // (see signature-form.js).
                signatureForm.init({
                    form: $('#signForm'),                             // The form that should be submitted when the operation is complete.
                    certificateSelect: $('#certificateSelect'),       // The select element (combo box) to list the certificates.
                    refreshButton: $('#refreshButton'),               // The "refresh" button.
                    signButton: $('#signButton'),                     // The button that initiates the operation.
                    stateField: $('#stateField'),                     // The field "state".
                    certThumbField: $('#certThumbField'),             // The field "certThumb", storing the signer's certificate thumbprint.
                    certContentField: $('#certContentField'),         // The field "certContent", storing the signer's certificate content.
                    toSignHashField: $('#toSignHashField'),           // The field "toSignHash".
                    digestAlgorithmField: $('#digestAlgorithmField'), // The field "digestAlgorithm".
                    signatureField: $('#signatureField')              // The field "signature", computed by Web PKI component.
                });
            });

        </script>
    </div>

    <div th:if="${state} == 'completed'">

        <p>COD element signed successfully!</p>
        <p>
            <a th:href="'/cod-xml-signature-sign-codeh?userfile=' + ${outputFile}" class="btn btn-primary">Sign CODEH element</a>
            <a th:href="'/files/' + ${outputFile}" class="btn btn-default">Download XML with signed COD element</a>
        </p>

    </div>

</div>
</body>
</html>