<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

    <h2>Installation Not Found</h2>


    <h4>To execute this sample, it is necessary that you install PKI Express on you computer.</h4>

    <div>
        <p>
            To install PKI Express, choose your preferred platform and read the instructions article.
        </p>
        <a class="btn btn-primary" href="http://docs.lacunasoftware.com/en-us/articles/pki-express/setup/index.html">Read <i>Install PKI Express</i> Article <span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
    </div>

</div>
</body>
</html>
